.blur-text {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

body.demo-mode {
    form input[type='text'],
    form input[type='number'],
    form input[type='email'],
    .bootstrap-select .filter-option-inner-inner,
    #settings td,
    #settings td a:not(.btn),
    .panel.sysinfo .host.value,
    .panel.sysinfo .distro.value,
    .panel.sysinfo .kernel.value,
    .panel.snmp li div:last-child,
    .panel.verisure .temp,
    .panel.verisure li div:last-child,
    .panel.speedtest #records td:nth-child(2),
    .panel #scripts td:nth-child(3),
    .panel #config td:nth-child(2),
    .panel.hypervadmin td:nth-child(6),
    .panel.snmp-details li div:last-child,
    .panel.sysinfo .col-xs-9,
    .panel.devices .col-sm-5,
    .panel.disks .name,
    .panel.docker .name,
    .panel.database-stats li div:last-child,
    .panel.roborock li:not(:last-child) div:last-child,
    .panel.psaremote li div:last-child,
    .panel.pulseway li .name,
    .panel.pulseway li .value,
    .panel.sonos li .value,
    #doorwindow td:nth-child(2),
    #doorwindow td:nth-child(3),
    #log td:nth-child(2),
    #log td:nth-child(3),
    .gallery .title,
    .gallery .subtitle,
    .arr .name,
    #roborock-details #info {
        color: transparent !important;
        text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .tooltip-inner {
        color: transparent !important;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }

    form input::placeholder {
        text-shadow: none;
    }

    .panel #config .fa-check {
        display: none;
    }

    .panel.sysinfo .distro,
    .panel.sysinfo .col-xs-9 .label,
    .jellyfin img:not(.blur),
    .sonos img:not(.blur) {
        display: none;
    }

    .fancybox-slide.verisure .fancybox-image {
        filter: blur(20px);
    }
}