footer {
    &.navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 6px 0;
        border-radius: 0;
        border-width: 1px 0 0 0;
        z-index: 7500;
    }

    .execution-time {
        line-height: 36px;
    }

    .actions {
        margin-left: 15px;
    }

    a.copyright,
    a.copyright:hover,
    a.copyright:active,
    a.copyright:focus {
        color: $gray-light;
        line-height: 36px;
    }
}

@media only screen and (min-width : ($screen-xs + 1)) {
    footer .rounded-not-mobile {
        border-radius: 4px !important;
    }
}

@media only screen and (max-width : $screen-xs) {
    footer {
        div:not(.container) {
            padding: 0;
        }

        .actions {
            margin-left: 0;
        }
    }
}
