@font-face {
	font-family: "chell-icons";
	src: url('../../fonts/chell-icons.eot');
	src: url('../../fonts/chell-icons.eot?#iefix') format('eot'),
		url('../../fonts/chell-icons.woff2') format('woff2'),
		url('../../fonts/chell-icons.woff') format('woff'),
		url('../../fonts/chell-icons.ttf') format('truetype'),
		url('../../fonts/chell-icons.svg#chell-icons') format('svg');
}

.fa:before {
	font-family: "chell-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.fa-vacuum-robot:before {
	content: "\E001";
}

.fa-verisure-away:before {
	content: "\E002";
}

.fa-verisure-disarmed:before {
	content: "\E003";
}

.fa-verisure-stay:before {
	content: "\E004";
}

.fa-chrome:before {
	content: "\E005";
}

.fa-edge:before {
	content: "\E006";
}

.fa-firefox:before {
	content: "\E007";
}

.fa-safari:before {
	content: "\E008";
}

.fa-internet-explorer:before {
	content: "\E009";
}

.fa-opera:before {
	content: "\E00A";
}

.fa-arrows-up-down-left-right:before {
	content: "\E00B";
}

.fa-backward:before {
	content: "\E00C";
}

.fa-bolt:before {
	content: "\E00D";
}

.fa-camera:before {
	content: "\E00E";
}

.fa-chart-bar:before {
	content: "\E00F";
}

.fa-check:before {
	content: "\E010";
}

.fa-chevron-down:before {
	content: "\E011";
}

.fa-chevron-left:before {
	content: "\E012";
}

.fa-chevron-right:before {
	content: "\E013";
}

.fa-chevron-up:before {
	content: "\E014";
}

.fa-circle-info:before {
	content: "\E015";
}

.fa-clapperboard:before {
	content: "\E016";
}

.fa-cloud-arrow-down:before {
	content: "\E017";
}

.fa-compress:before {
	content: "\E018";
}

.fa-expand:before {
	content: "\E019";
}

.fa-eye:before {
	content: "\E01A";
}

.fa-fingerprint:before {
	content: "\E01B";
}

.fa-floppy-disk:before {
	content: "\E01C";
}

.fa-forward:before {
	content: "\E01D";
}

.fa-gear:before {
	content: "\E01E";
}

.fa-globe:before {
	content: "\E01F";
}

.fa-image:before {
	content: "\E020";
}

.fa-key:before {
	content: "\E021";
}

.fa-list:before {
	content: "\E022";
}

.fa-location-dot:before {
	content: "\E023";
}

.fa-minus:before {
	content: "\E024";
}

.fa-pause:before {
	content: "\E025";
}

.fa-pen-to-square:before {
	content: "\E026";
}

.fa-play:before {
	content: "\E027";
}

.fa-plus:before {
	content: "\E028";
}

.fa-power-off:before {
	content: "\E029";
}

.fa-question:before {
	content: "\E02A";
}

.fa-right-from-bracket:before {
	content: "\E02B";
}

.fa-rotate:before {
	content: "\E02C";
}

.fa-server:before {
	content: "\E02D";
}

.fa-share:before {
	content: "\E02E";
}

.fa-star:before {
	content: "\E02F";
}

.fa-star-half:before {
	content: "\E030";
}

.fa-stop:before {
	content: "\E031";
}

.fa-temperature-half:before {
	content: "\E032";
}

.fa-trash-can:before {
	content: "\E033";
}

.fa-tv:before {
	content: "\E034";
}

.fa-wrench:before {
	content: "\E035";
}
