@import "variables";

canvas,
div.harddisks,
div.harddisks div.progress,
div.devices,
div.processes,
div.temperatures,
div.cpu {
    width: 100%;
}

div.panel-heading h4 {
    font-weight: bold;
    min-height: 3.4rem;

    a {
        color: $state-success-text;
    }
}

div.panel-heading h4,
div.panel-heading a,
div.panel-heading button {
    white-space: nowrap;
}

div.panel li > div:not(.embed-responsive) {
    &:first-child {
        padding-left: 0;
    }
    &:last-child{
        padding-right: 0;
    }
}

div.panel.transparent,
div.panel.transparent li.list-group-item:not(.list-group-item-success) {
    background-color: transparent;
}

div.panel.transparent {
    position: relative;
    z-index: 1;
    left: 0;
}

div.panel-underlay {
    position: absolute;
    background-color: #FFF;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    left: 0;
}

.rating .label {
    font-size: 12px;
}

.fancybox-slide > div.sickrage-detail {
    padding: 0;
}

li.list-group-item {
    border-width: 1px 0;

    &.clone + li,
    &:first-child {
        border-width: 0;
        border-top: 0;
    }

    &:last-child {
        border-bottom: 0;
        border-radius: 0;
    }

    &:hover {
        color: $state-success-text;
        background-color: $state-success-bg;
    }
}

@media only screen and (min-width : ($screen-xs + 1)) {
    div.panel .list-group,
    div.panel .panel-body:not(#settings) {
        display: block !important;
    }

    div.panel .btn-group .btn.rounded-not-mobile {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }
}
