@import "variables";

.panel-square {
    border-color: $nav-tabs-border-color;
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px;
    float: left;
    padding: 20px;
    width: 100%;
    box-shadow: none;
}

label {
    font-weight: normal;
    line-height: 29px;
}

.error {
    color: $state-danger-text;
    font-weight: bold;
    line-height: 29px;
}

.bs-container {
    z-index: 9999;
}

span.input-group-addon label {
    margin: 0;
}

.actions {
    margin-left: 7px;

    a.add {
        margin-left: 10px;
    }
}

input[type=number] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
}

.tab-pane {
    margin-bottom: 0;
    border-width: 0 1px 1px 1px;
}

#settings {
    #menu,
    #devices {
        padding-bottom: 0;
    }

    legend span {
        color: $state-success-text;
        border-bottom-color: $state-success-bg;
        line-height: 50px;
        font-weight: bold;
        font-size: 18px;
    }

    legend div.info {
        font-size: 14px;
        line-height: 50px;
    }

    legend .toggle {
        margin-right: 15px;
    }

    .input-group .fa:not(.error),
    legend .fa {
        text-decoration: none;
        color: $state-success-text;
        font-size: 14px;
    }

    .input-group {
        width: 100%;

        input:only-child {
            border-radius: 4px;
        }
    }

    .input-group .bootstrap-touchspin-up {
        border-radius: 0;
    }

    .panel-body .row {
        width: calc(100% + 20px);
        padding: 5px 0;
        margin-bottom: 0;
    }

    .panel-body .row:hover {
        background-color: $table-bg-hover;
    }

    .btn-group {
        display: flex;

        a {
            float: none;
        }
    }

    legend .help {
        margin: 8px 0;
    }

    fieldset .row:last-child {
        border-bottom: 1px solid #e5e5e5;
    }

    fieldset:last-of-type .row:last-child {
        border: 0;
    }

    .tab-content{
        width: 100%;
    }
}

.bootstrap-touchspin-injected button {
    font-weight: bold;
}

.input-group .bootstrap-select {
    .dropdown-toggle:focus {
        outline: 0 !important;
    }

    button {
        border-radius: 4px 0 0 4px !important;
    }
}

.back-btn {
    margin-right: 15px;
}

@media only screen and (max-width : ($screen-sm -1)) {
    label,
    .error {
        line-height: initial;
        margin-bottom: 0;
    }
}

.error.fa-circle-info {
    font-size: 2rem;
    float: left;
}


.navbar .btn.fa-floppy-disk {
    margin-top: 8px;
    line-height: 0.85;
}

.menuitem_icon img {
    max-width: none;
}