<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{THE_REQUEST} \.php\s [NC]
  RewriteRule ^ - [R=404,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^((?s).*)$ index.php [QSA,L]
</IfModule>