canvas,
div.harddisks,
div.harddisks div.progress,
div.devices,
div.processes,
div.temperatures,
div.cpu
{
    width: 100%;
}

div.panel
{
    width: 100%;
}

div.panel ul div
{
    padding: 0;
}

div.progress
{
    margin: 0;
    position: relative;
}

div.progress div.percent
{
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    line-height: 22px;
    text-shadow: 1px 1px 0px #fff;
}

div.progress-bar
{
    border-radius: inherit;
    height: inherit;
    position: relative;
    width: 0;
}

li.os,
div.devices li.list-group-item div
{
    line-height: 32px;
}

li.os div.icon
{
    width: 32px;
    height: 32px;
}

div.sysinfo .value
{
    display: none;
}

div#shutdown-dialog,
div#wol-dialog
{
    display: none;
}

div.shutdown h2
{
    white-space: nowrap;
}

div#wol-dialog button
{
    width: 100px;
}

div#wol-dialog button#wol-yes
{
    margin-right: 15px;
}

div.cpu iframe
{
    width: 100%;
    height: 340px;
    border: 0;
}

div.cpu .panel-body
{
    padding-bottom: 0;
}

div.movies .panel-body,
div.episodes .panel-body,
div.albums .panel-body
{
    padding: 0;
}

div.movie.item,
div.episode.item,
div.album.item
{
    height: 320px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 4px 4px;
}

div.item div.overlay
{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
    opacity: 0.8;
    z-index: 1;
}

div.item .title,
div.item .subtitle
{
    width: 100%;
    height: 20px;
    bottom: 10px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
    padding:0 10px;
    overflow: hidden;
}

div.item div.title
{
    bottom: 22px;
    font-size: 26px;
    height: 45px;
}

@media only screen and (min-width : 481px)
{
    div.panel .list-group, 
    div.panel .panel-body
    {
        display: block !important;
    }
}