@media (max-width: $screen-sm) {
    .fancybox-infobar {
        width: 100%;
        text-align: center;
    }

    .fancybox-button--left,
    .fancybox-button--right {
        display: inline !important;
    }
}

.fancybox-container .panel,
.fancybox-container .panel-heading {
    border-radius: 0;
}

.fancybox-slide--iframe {
    padding: 44px 0;
}

.fancybox-slide--iframe .fancybox-content {
    max-height: 90%;
    max-width: 800px;
}

.fancybox-container {
    backdrop-filter: blur(5px);
    transition: backdrop-filter 1.5s ease-out;
}
