@media (max-width: 800px) {
    .fancybox-infobar {
        width: 100%;
        text-align: center;
    }

    .fancybox-button--left,
    .fancybox-button--right {
        display: inline !important;
    }
}
