footer.navbar 
{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    border-radius: 0;
    opacity: 0.9;
    z-index: 100;
}

footer a,
footer a:hover,
footer a:active,
footer a:focus
{
    color: #777;
}

@media only screen and (max-width : 767px)
{
    footer div.pull-right
    {
        display: none;
    }
}