html {
    min-height: 100%;
}

html.full-height {
    height: 100%;
}

html.blackbg,
html.blackbg body {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3c3c3c 0%, #222 100%) repeat scroll 0 0;
}

body {
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
    overflow-y: scroll;
    height: 100%;
    min-height: 100vh;
}

body#bootstrap {
    padding: 50px 0 52px;
}

body#iframe {
    min-height: 0;
}

body#iframe .panel {
    margin-bottom: 0;
}

*:active,
*:focus {
    outline: 0 !important;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h2 {
    margin: 10px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}

h4 {
    margin: 0;
    line-height: 36px;
}

@media only screen and (max-width : 480px) {
    h4 {
        cursor: pointer;
    }
}

div.content {
    padding-top: 20px;
}

.full-height {
    height: 100%;
}

.container.full-height {
    display: table;
}

.container-relative {
    position: relative;
}

.no-gutter {
    padding: 0;
}

.no-gutter-left {
    padding-left: 0;
}

.no-gutter-right {
    padding-right: 0;
}

@media only screen and (max-width : 767px) {
    .no-gutter-xs {
        padding: 0;
    }

    .no-gutter-left-xs {
        padding-left: 0;
    }

    .no-gutter-right-xs {
        padding-right: 0;
    }
}

.hidden_not_important {
    display: none;
}

.show_not_important {
    display: block;
}

.disabled {
    cursor: not-allowed;
}

input.has-error {
    border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.table-responsive {
    border: 0;
}

.row {
    display: table;
    width: 100%;
}

.row > div {
    display: table-cell;
    height: 100%;
}

div.alert {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 7501;
    margin-bottom: 0;
    display: none;
}

.btn-dark,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover {
    color: #FFF;
    background-color: transparent;
    border: 1px solid #333;
}

.btn-dark:hover {
    background-image: linear-gradient(to bottom, #5cb85c 0px, #419641 100%);
}

div.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.text-bold {
    font-weight: bold;
}

.bootstrap-touchspin input[type=number] {
    border-radius: 4px 0 0 4px !important;
}
