.icon-refresh-animate {
    -webkit-animation-name: rotateThis;
    -moz-animation-name: rotateThis;
    -ms-animation-name: rotateThis;
    -o-animation-name: rotateThis;
    animation-name: rotateThis;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes

"rotateThis" {
    from {
        -webkit-transform: scale( 1 ) rotate( 0deg );
        -moz-transform: scale( 1 ) rotate( 0deg );
        -o-transform: scale( 1 ) rotate( 0deg );
        -ms-transform: scale( 1 ) rotate( 0deg );
        transform: scale( 1 ) rotate( 0deg );
    }
    to {
        -webkit-transform: scale( 1 ) rotate( 360deg );
        -moz-transform: scale( 1 ) rotate( 360deg );
        -o-transform: scale( 1 ) rotate( 360deg );
        -ms-transform: scale( 1 ) rotate( 360deg );
        transform: scale( 1 ) rotate( 360deg );
    }
}

@-moz-keyframes rotateThis {
    from {
        -moz-transform: scale( 1 ) rotate( 0deg );
        transform: scale( 1 ) rotate( 0deg );
    }
    to {
        -moz-transform: scale( 1 ) rotate( 360deg );
        transform: scale( 1 ) rotate( 360deg );
    }
}

@-webkit-keyframes

"rotateThis" {
    from {
        -webkit-transform: scale( 1 ) rotate( 0deg );
        transform: scale( 1 ) rotate( 0deg );
    }
    to {
        -webkit-transform: scale( 1 ) rotate( 360deg );
        transform: scale( 1 ) rotate( 360deg );
    }
}

@-ms-keyframes

"rotateThis" {
    from {
        -ms-transform: scale( 1 ) rotate( 0deg );
        transform: scale( 1 ) rotate( 0deg );
    }
    to {
        -ms-transform: scale( 1 ) rotate( 360deg );
        transform: scale( 1 ) rotate( 360deg );
    }
}

@-o-keyframes

"rotateThis" {
    from {
        -o-transform: scale( 1 ) rotate( 0deg );
        transform: scale( 1 ) rotate( 0deg );
    }
    to {
        -o-transform: scale( 1 ) rotate( 360deg );
        transform: scale( 1 ) rotate( 360deg );
    }
}
