div.login .panel,
div.about .panel
{
    width: 300px;
    margin: 0 auto;
}

div.login input
{
    position: relative;
}

div.login input:focus
{
    z-index: 2;
}

div.login input[type="text"]
{
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
}

div.login input[type="password"]
{
    border-radius: 0 0 4px 4px;
}

input[type="checkbox"]
{

}