div.login .panel,
div.about .panel {
    width: 300px;
    margin: 0 auto;
    float: none;
}

div.login .panel-heading,
div.about .panel-heading,
div.login .panel-body,
div.about .panel-body {
    float: none;
}

div.login input {
    position: relative;
}

div.login input:focus {
    z-index: 2;
}

div.login input[type="text"] {
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
}

div.login input[type="password"] {
    border-radius: 0 0 4px 4px;
}

div.login .toggle {
    float: right;
}

#rememberme-wrapper {
    width: 100%;
    min-height: 30px;
    margin-top: 15px;
}

.login button[type="submit"] {
    margin-top: 15px;
}

#duo_iframe {
    width: 100%;
    min-width: 304px;
    max-width: 620px;
    height: 250px;
    border: none;
}
