.navbar {
    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}

nav.navbar-fixed-top {
    top: 0;
    opacity: 0.9;
    z-index: 7500;
}

div#navbar {
    overflow: hidden;
    padding: 0;
    max-height: 340px;
    display: none;
}

.navbar-nav {
    margin: 0;
}

.navbar-toggle {
    margin-right: 0;
}


a.navbar-brand {
    padding: 10px 15px 15px 0;
    line-height: 34px;
    text-shadow: 1px 1px 1px rgb(80, 80, 80) !important;
}

a.navbar-brand img {
    float: left;
    margin: 0 7px 0 0;
}

a.navbar-brand span {
    float: left;
    white-space: nowrap;
}


nav div.navbar-collapse ul {
    max-height: 290px;
    overflow-y: auto;
    padding-bottom: 1px;
}

nav div.navbar-collapse ul a {
    color: #FFF;
    padding: 5px 10px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width : ($screen-sm - 1)) {
    nav div.navbar-collapse ul a {
        padding: 10px 20px;
    }
}

nav div.navbar-collapse ul a img {
    float: left;
    margin: 2px 15px 0 0;
}

nav div.navbar-collapse a:active,
nav div.navbar-collapse a:hover,
nav div.navbar-collapse li:hover a {
    background-image: linear-gradient(to bottom, #5cb85c 0px, #419641 100%);
    color: #FFF;
}

nav div.navbar-collapse li.disabled:hover a {
    background: none;
}

.nav {
    margin-top: 0;
}

nav.navbar ul.nav > li {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #101010;
}

div#navbar div.btn-group {
    margin: 8px 0;
}


@media only screen and (min-width : ($screen-xs + 1)) {
    #navbar > div {
        padding: 0;
    }
}
