nav.paginator {
    float: left;
    width: 100%;
    text-align: center;
}

.pagination {
    margin: 0;
    display: inline-block;

    > .active {
        > a,
        > a:hover,
        > a:focus {
            background-image: linear-gradient(to bottom, $state-success-bg 0%, #d0e9c6 100%);
            background-color: transparent;
            border-color: $state-success-bg;
            color: $state-success-text;
            margin: 0;
        }
    }

    > li {
        > a {
            color: $gray-dark;
        }

        a:hover,
        a:active,
        a:focus {
            color: $state-success-text;
        }
    }
}