.panel-square {
    border-color: $nav-tabs-border-color;
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px;
    float: left;
    padding: 20px;
    width: 100%;
}

label {
    font-weight: normal;
    line-height: 29px;
}

.error {
    color: $state-danger-text;
    font-weight: bold;
    line-height: 29px;
}

.bs-container {
    z-index: 9999;
}
.table > tbody > tr > td {
    border: 0;
    line-height: 33px;
}

.table > thead > tr > th {
    line-height: 34px;
    font-weight: 300;
    font-size: 24px;
}

span.input-group-addon label {
    margin: 0;
}

.actions {
    margin-left: 7px;
}

.actions a.add {
    margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

#menu,
#devices {
    padding-bottom: 0;
}

.tab-pane {
    margin-bottom: 0;
    border-width: 0 1px 1px 1px;
}

#settings legend span {
    color: $state-success-text;
    border-bottom-color: $state-success-bg;
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#settings legend div.info {
    font-size: 14px;
    line-height: 50px;
}

#settings legend .toggle {
    margin-right: 15px;
}

#settings .fa-question,
#settings .fa-eye {
    text-decoration: none;
    color: $state-success-text;
    font-size: 14px;
}

#settings legend .fa-question {
    margin-top: 5px;
}

#settings .input-group {
    width: 100%;
}

#settings .input-group .bootstrap-touchspin-up {
    border-radius: 0;
}

.bootstrap-touchspin-injected button {
    font-weight: bold;
}

.input-group .bootstrap-select button {
    border-radius: 4px 0 0 4px;
}

#settings .panel-body .row {
    width: calc(100% + 30px);
}

#settings .btn-group {
    display: flex;

    a {
        float: none;
    }
}

@media only screen and (max-width : ($screen-sm -1)) {
    label,
    .error {
        line-height: initial;
        margin-bottom: 0;
    }
}