.panel-square {
    border-color: #ddd;
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px;
    float: left;
    padding: 20px;
    width: 100%;
}

label
{
    font-weight: normal;
    line-height: 29px;
}

.table > tbody > tr > td
{
    border: 0;
}

.table > thead > tr > th
{
    line-height: 34px;
    font-weight: 300;
    font-size: 24px;
}

.table input,
.bootstrap-select > .dropdown-toggle
{
    min-width: 100px;
}

span.input-group-addon label
{
    margin: 0;
}


.actions
{
    margin-left: 7px;
}

.actions a.add
{
    margin-left: 10px;
}

ul.nav-tabs,
div.tab-content
{
    display: none;
}


div.fancybox_form h2
{
    margin: 10px 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}