.panel-square {
    border-color: #ddd;
    border-radius: 0 0 4px 4px;
    border-width: 0 1px 1px;
    float: left;
    padding: 20px;
    width: 100%;
}

label {
    font-weight: normal;
    line-height: 29px;
}

.error {
    color: #a94442;
    font-weight: bold;
    line-height: 29px;
}

.bs-container
{
    z-index:9999;
}

@media only screen and (max-width : 767px) {
    label,
    .error {
        line-height: initial;
        margin-bottom: 0;
    }
}

.table > tbody > tr > td {
    border: 0;
    line-height: 33px;
}

.table > thead > tr > th {
    line-height: 34px;
    font-weight: 300;
    font-size: 24px;
}

span.input-group-addon label {
    margin: 0;
}

.actions {
    margin-left: 7px;
}

.actions a.add {
    margin-left: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}