#install {
    width: 500px;

    h5 {
        font-size: 3rem;
        border-bottom: 1px solid #CCC;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    .form-group {
        float: left;
        width: 100%;
    }
}
