body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  overflow: hidden; }

body#bootstrap {
  padding: 70px 0 52px;
  overflow: auto; }

body.nopadding {
  padding: 0;
  overflow: auto; }

img {
  display: inline-block;
  height: auto;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important; }

h4 {
  margin: 0 !important;
  line-height: 36px !important; }

div.container-fluid {
  padding: 0; }

.full-height {
  height: 100%; }

div.alert {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  margin-bottom: 0;
  display: none; }

nav.navbar-fixed-top {
  top: 0;
  margin: 0;
  opacity: 0.9; }

div#navbar {
  overflow: hidden; }

a.navbar-brand {
  padding-top: 10px;
  line-height: 34px;
  text-shadow: 1px 1px 1px #505050 !important; }

a.navbar-brand img {
  float: left;
  margin: 0 15px 0 5px; }

div.user a,
a.settings {
  margin: 8px 0;
  color: #FFF; }

div.user {
  padding-left: 0; }

nav div.navbar-collapse ul a {
  color: #FFF;
  padding: 5px 10px;
  text-decoration: none; }

nav div.navbar-collapse ul a img {
  float: left;
  margin: 2px 15px 0 0; }

nav div.navbar-collapse a:active,
nav div.navbar-collapse a:hover,
nav div.navbar-collapse li:hover a {
  background-image: linear-gradient(to bottom, #5cb85c 0px, #419641 100%);
  color: #FFF; }

nav div.navbar-collapse li.disabled:hover a {
  background: none; }

.icon-refresh-animate {
  -webkit-animation-name: rotateThis;
  -moz-animation-name: rotateThis;
  -ms-animation-name: rotateThis;
  -o-animation-name: rotateThis;
  animation-name: rotateThis;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear; }

@keyframes "rotateThis" {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  to {
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }
@-moz-keyframes rotateThis {
  from {
    -moz-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  to {
    -moz-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }
@-webkit-keyframes "rotateThis" {
  from {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  to {
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }
@-ms-keyframes "rotateThis" {
  from {
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  to {
    -ms-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }
@-o-keyframes "rotateThis" {
  from {
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  to {
    -o-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }
canvas,
div.harddisks,
div.harddisks div.progress,
div.devices,
div.processes,
div.temperatures,
div.cpu {
  width: 100%; }

div.panel ul div {
  padding: 0; }

div.progress {
  margin: 0;
  position: relative; }

div.progress div.percent {
  text-align: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  line-height: 22px;
  text-shadow: 1px 1px 0px #fff; }

div.progress-bar {
  border-radius: inherit;
  height: inherit;
  position: relative;
  width: 0; }

li.os,
div.devices li.list-group-item div {
  line-height: 32px; }

li.os div.icon {
  width: 32px;
  height: 32px; }

div.processes ul,
div.sysinfo .value,
div.sysinfo a.morelink {
  display: none; }

div.cpu iframe {
  height: 340px; }

div#shutdown-dialog,
div#wol-dialog,
div#cpu-cores,
div.core-stats {
  display: none; }

div.shutdown h2 {
  white-space: nowrap; }

div#wol-dialog button {
  margin-top: 15px;
  width: 100px; }

div#wol-dialog button#wol-yes {
  margin-right: 15px; }

div.cpu iframe {
  width: 100%;
  border: 0; }

footer.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  border-radius: 0;
  opacity: 0.9;
  z-index: 1; }

footer a,
footer a:hover,
footer a:active {
  color: #777; }

@media only screen and (max-width: 767px) {
  footer div.pull-right {
    display: none; } }
.panel-square {
  border-color: #ddd;
  border-radius: 0 0 4px 4px;
  border-width: 0 1px 1px;
  float: left;
  padding: 20px;
  width: 100%; }

/*# sourceMappingURL=default.css.map */
