@import "../variables";

.panel.opcache {
    .panel-body {
        padding: 0;
        height: 320px;

        .graph {
            height: 320px;
        }
    }
}

#opcache-details {
    max-height: 672px;
}