@import "../variables";

li.os,
div.devices li.list-group-item div {
    line-height: 32px;
}

li.os div.icon {
    width: 32px;
    height: 32px;
}

span.packages {
    margin-right: 2px;
}

div.distro span {
    white-space: nowrap;
}

#phpsysinfo-details {
    max-width: 600px;
    max-height: 90%;
    padding: 0;

    .panel,
    .panel-body ul {
        margin: 0;
    }
}

.panel.docker {
    ul {
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
    }
}
