@import "../variables";

.speedtest {
    max-height: 800px;

    .panel-body {
        text-align: center;
        height: 320px;
    }

    .testArea {
        width: 50%;
        height: 131px;
        position: relative;
        box-sizing: border-box;
        display: inline-block;
    }

    .testName {
        width: 100%;
        font-size: 1.4em;
        z-index: 9;
    }

    .meterText {
        position: absolute;
        top: calc(50% - 0.5em);
        width: 100%;
        font-size: 2em;
        line-height: 1.4em;
        margin-bottom: -1.4em;
        z-index: 9;

        &:empty:before {
            content: "0.00";
        }
    }

    .unit {
        position: absolute;
        bottom: 1.5em;
        left: 0;
        width: 100%;
        z-index: 9;
    }

    .testArea canvas {
        width: 100%;
        height: calc(100% - 2em);
        z-index: 1;
        margin-top: -1em;
    }

    .testGroup {
        white-space: nowrap;
    }

    #ipArea {
        min-height: 37px;
        margin-top: -1.4em;
    }

    .paginator {
        margin: 10px 0;
    }

    .table-responsive,
    .table {
        margin-bottom: 0;
    }
}

@media only screen and (max-width : $screen-xs) {
    .speedtest .tab-pane {
        height: 400px;
        overflow-y: scroll;
    }
}
