div.torrents {
    li {
        div.torrentname,
        div.torrentprogress {
            margin-top: 7px;
        }

        div.torrentname {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
