.verisure {
    .panel-body {
        padding: 0;
    }

    .top {
        display: flex;
        align-items: center;
        padding: 15px;

        > div {
            flex: 1;
        }

        .temp {
            margin-bottom: 1rem;
            font-size: 1.75rem;
        }

        button {
            border: 0;
            background: transparent;
            font-size: 10rem;
            line-height: 12rem;
            transition: font-size .25s;

            &:hover {
                font-size: 11rem;
            }
        }
    }

    .panel-body li .panel-body li {
        border-width: 1px;

        &:first-child {
            border-radius: 0;
        }
    }
}

#verisure_device_select button {
    font-size: 2rem;
    margin-right: 5rem;

    &:last-child {
        margin-right: 0;
    }
}

#verisure_set_armstate {
    padding: 22px;

    > .text-center {
        min-width: 300px;
    }

    h2 {
        margin-top: 20px;
    }

    .fa {
        font-size: 6rem;
        line-height: normal;
        box-shadow: 0 5px 5px #CCC;
        border-radius: 50%;
        border: 1px solid #CCC;
        padding: 15px 15px 15px 15px;
        transition: font-size .25s;
    }

    .button-wrapper {
        display: flex;
        min-height: 200px;

        h3 {
            margin-top: auto;
        }

        .state-change {
            display: flex;
            flex-direction: column;
            margin: 0 15px;
            flex: 1;

            button {
                font-size: 6rem;
                line-height: 0.8;
                box-shadow: 0 5px 5px #CCC;
                border-radius: 50%;
                border: 1px solid #CCC;
                transition: font-size .25s;
                margin: auto;

                &:hover {
                    font-size: 8rem;
                }

                &:before {
                    top: 5px;
                    position: relative;
                }
            }
        }
    }
}

#verisure-details {
    max-height: 800px;
    min-height: 400px;
}