div.gallery {
    position: relative;
    height: 379px;
}

div.backdrop {
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    z-index: 1;
    top: 0;
    left: 0;
}

div.gallery .panel-body {
    padding: 0;
}

div.gallery .panel-heading {
    background: none;
    position: relative;
}

div.gallery .panel-heading .btn-group {
    position: relative;
    z-index: 3;
}

div.gallery .panel-heading h4 {
    position: relative;
    z-index: 2;
}

.gallery .item,
.gallery .panel-body {
    height: 378px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 4px 4px;
    color: #333;
    float: left;
    clear: left;
    width: 100%;
    top: 0;
}

.item div.overlay {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
    opacity: 0.8;
    z-index: 1;
}

.item .title,
.item .subtitle {
    width: 100%;
    height: 20px;
    bottom: 10px;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
    padding: 0 10px;
    overflow: hidden;
}

.item div.title {
    bottom: 22px;
    font-size: 26px;
    height: 45px;
}

.kodi-movies h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width : 480px) {
    div.gallery {
        height: auto;
    }
}

.gallery .fa-eye {
    position: absolute;
    z-index: 5;
    font-size: 38px;
    bottom: 80px;
    right: 15px;
    text-shadow: 2px 2px 2px #505050 !important;
    color: white;
}
