.sickrage {
    .tab-pane,
    .panel-body {
        padding: 0;
    }

    .nav-tabs li:first-child a {
        border-top-left-radius: 0;
    }

    .nav.nav-tabs li a {
        padding: 10px;
    }
}

.sickrage-detail {
    padding: 0;
    margin: 0;

    .panel {
        margin: 0;
    }
}