.sickrage .tab-pane,
.sickrage .panel-body {
    padding: 0;
}

.sickrage .nav-tabs li:first-child a {
    border-top-left-radius: 0;
}

.sickrage .nav.nav-tabs li a {
    padding: 10px;
}

.sickrage-detail {
    padding: 0;
    margin: 0;
}

.sickrage-detail .panel {
    margin: 0;
}
