li.os,
div.devices li.list-group-item div {
    line-height: 32px;
}

li.os div.icon {
    width: 32px;
    height: 32px;
}

span.packages {
    margin-right: 15px;
}

div.distro span {
    white-space: nowrap;
}

.hw-panel {
    max-width: 800px;
}

#hardware{
    margin: 12px;
    padding: 0;
}
.panel.processes ul {
    height: 362px;
    overflow-y: auto;
    float: left;
}